<ion-view title="Comune di Grezzana">

	<ion-content has-header="true">

		<div class="home_list">
			<a href="#/app/calendar" class="calendar clearfix">
				<div class="left">
					<img src="img/trash_bin.png">
				</div>
				<div class="right">
					<span>Calendario Rifiuti</span>
				</div>
			</a>

			<a href="#/app/dictionary" class="dictionary clearfix">
				<div class="left">
					<img src="img/dictionary.png">
				</div>
				<div class="right">
					<span>Dizionario Rifiuti</span>
				</div>
			</a>

			<a href="#/app/report" class="report clearfix">
				<div class="left">
					<img src="img/lens.png">
				</div>
				<div class="right">
					<span>Invia Segnalazione</span>
				</div>
			</a>
		</div>

	</ion-content>

</ion-view>