<div class="legend">
	<h3 class="title">Legenda</h3>
	<ul>
		<li>
			<span class="rect humid"></span>Umido
		</li>
		<li>
			<span class="rect ecomobile"></span>Ecomobile
		</li>
		<li>
			<span class="rect paper"></span>Carta
		</li>
		<li>
			<span class="rect green_a_zone"></span>Verde Zona A
		</li>
		<li>
			<span class="rect plastic"></span>Plastica / Lattine
		</li>
		<li>
			<span class="rect green_b_zone"></span>Verde Zona B
		</li>
		<li>
			<span class="rect dry"></span>Secco
		</li>
	</ul>
</div>