.menu {
	background-image: url(../img/bg_menu.jpg);
	background-size: cover;
	.top {
		height: 95px;
		line-height: 100px;
		.logo {
			position: relative;
			display: inline-block;
			width: 70px;
			img {
				@include centered;
				margin-top: -7px;
			}
		}
		span {
			display: inline-block;
			color: #FFF;
			font-size: 16px;
			font-weight: bold;
			line-height: 80px;
		}
	}
	.list {
		.item {
			border: none;
			background-color: transparent;
			a {
				padding-left: 35px;
				background-color: transparent;
				color: #FFF;
				font-family: 'open_sanssemibold';
				font-size: 16px;
				text-transform: uppercase;
			}
		}
	}
}